.admin-heading {
    color: #333;
    margin-bottom: 20px;
}

.employee-table {
    width: 100%;
}

.employee-table th,
.employee-table td {
    text-align: center;
}

.employee-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
